.DS_Store
*.log*
*.node
*.tsbuildinfo

node_modules
target
dist
coverage

**/.vitepress/cache
**/.vitepress/dist

.pnpm-store
.release
.vitest

npm/sidecars-*/cwebp
npm/sidecars-*/cwebp.exe
npm/sidecars-*/cwebp.manifest.json
npm/sidecars-*/cjpeg
npm/sidecars-*/cjpeg.exe
npm/sidecars-*/cjpeg.manifest.json
npm/sidecars-*/jpegtran
npm/sidecars-*/jpegtran.exe
npm/sidecars-*/jpegtran.manifest.json
npm/sidecars-*/licenses
npm/sidecar-pngquant-*/pngquant
npm/sidecar-pngquant-*/pngquant.exe
npm/sidecar-pngquant-*/pngquant.manifest.json
npm/sidecar-pngquant-*/licenses
npm/sidecar-gifsicle-*/gifsicle
npm/sidecar-gifsicle-*/gifsicle.exe
npm/sidecar-gifsicle-*/gifsicle.manifest.json
npm/sidecar-gifsicle-*/licenses
